* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    --primary-color: #0284c7;
    --color-white: #fafafa;
    --color-black: #262626;
    --color-gray: #737373;
    --color-total-black: #171717;
    --color-light-blue: #F0F9FF;
    --color-dark-blue: #075985;
    --color-light-gray: #e5e5e5;
    --shadow: 0 4px 4px #737373;
    --x-gap: 20px;
    --y-gap: 60px;

}

body {
    margin: 0;
}

.section {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--x-gap)/2);
}

.return-button {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: var(--primary-color);
    height: var(--y-gap);
    box-shadow: var(--shadow);
    position: sticky;
    top: 0px;
}

a {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo {
    font-weight: 700;
    font-size: 26px;
}

.menu-text {
    font-size: 22px;
    font-weight: 600;
    padding: 0 15px;
}

#hero {
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: auto;
    margin-bottom: calc(var(--y-gap) / 2);
    padding-bottom: var(--y-gap);
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-black);
    width: calc((100% - var(--x-gap)) / 2);
    padding-top: 140px;
}

h1 span {
    color: var(--primary-color);
}

.header-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-dark-blue);
    width: calc((100% - var(--x-gap)) / 2);
    padding-top: 30px;
}

.button {
    background-color: #0EA5E9;
    color: var(--color-light-blue);
    width: calc((100% - var(--x-gap) * 11) / 12 * 2.5 + var(--x-gap) * 2);
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 15px;
    margin-top: var(--y-gap);
    border: 1px solid #38bdf8;
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

h2 {
    color: var(--color-dark-blue);
    font-size: 48px;
    font-weight: 700;
    padding-top: var(--y-gap);
}

.doctors-title {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doctors-text {
    font-size: 24px;
    color: var(--color-gray);
    text-align: center;
    width: calc(100% / 12 * 11);
    margin: var(--y-gap) auto;
}

form {
    width: calc(100% / 12 * 11);
    margin: 0px auto;
    position: relative;
    margin-bottom: var(--y-gap);
}

.input-search {
    width: 100%;
    height: 40px;
    background-color: var(--color-light-blue);
    color: var(--color-light-gray);
    border: 1px solid #BAE6FD;
    border-radius: 20px;
    box-shadow: var(--shadow);
    font-size: 19px;
    line-height: 38px;
    text-align: left;
    padding-left: 50px;
    outline: none;
}

.button-search {
    width: 35px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 10px;
    border: none;
    border-right: 3px solid var(--color-light-gray);
    background-color: var(--color-light-blue);
    outline: none;
    cursor: pointer;
}

.specialists {
    display: flex;
    flex-wrap: wrap;
    gap: var(--x-gap);
}

.doctor {
    display: flex;
    flex-direction: column;
    width: calc((100% - var(--x-gap) * 2) / 3);
    gap: var(--x-gap);
    margin-bottom: var(--y-gap);
}

.specialists-image {
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.specialists-name {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--color-total-black);
}

.speciality {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--color-total-black);
}

.small-button {
    background-color: var(--color-white);
    color: var(--primary-color);
    width: 75%;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 15px;
    align-self: center;
    border: 1px solid #38bdf8;
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

footer {
    height: auto;
    background-color: var(--color-light-blue);
    padding: var(--y-gap) 0px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-detail {
    display: flex;
    justify-content: space-between;
}

.dento {
    width: calc(100% / 2);
    font-size: 18px;
    font-weight: 400;
    color: var(--color-dark-blue);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100% / 5);
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-blue);
}

.contacts {
    padding-top: var(--y-gap);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--x-gap);
}

.contact-text span {
    font-weight: 700;
}


.contact-text {
    display: flex;
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.contact-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.license {
    color: var(--color-dark-blue);
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    text-align: right;
    padding-top: var(--y-gap);
}

/*responsive design*/


@media (max-width: 768px) {
    html {
        --y-gap: 50px;
    }
    
    #logo {
        font-size: 90%;
    }

    .menu-text {
        font-size: 70%;
    }
    
    h1 {
        font-size: 40px;
    }

    .button {
        font-size: 75%;
        width: calc((100% - var(--x-gap)*2) / 3);
        padding: 8px;
    }

    h2 {
        font-size: 36px;
    }

    .doctors-text {
        font-size: 20px;
    }

    .doctor {
        width: calc((100% - var(--x-gap)) / 2);
    }

    .footer-detail {
        justify-content: space-evenly;
    }

    .dento {
        font-size: 16px;
    }

    .link {
        font-size: 16px;
        width: calc(100% / 3);
    }

    .contacts {
        flex-direction: column;
        padding-left: 10px;
    }

    .contact-text {
        font-size: 14px;
    }

    .license {
        font-size: 15px;
    }

    .speciality {
        font-size: 16px;
    }

    .specialists-name {
        font-size: 16px;
    }

    .small-button {
        font-size: 75%;
        padding: 8px;
    }
}

@media (max-width: 600px) {

    html {
        --y-gap: 40px;
    }
    
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 30px;
    }

    .doctors-text {
        font-size: 16px;
    }

    .speciality {
        font-size: 14px;
    }

    .specialists-name {
        font-size: 14px;
    }
}