* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    --primary-color: #0284c7;
    --color-white: #fafafa;
    --color-black: #262626;
    --color-gray: #737373;
    --color-total-black: #171717;
    --color-light-blue: #F0F9FF;
    --color-dark-blue: #075985;
    --color-light-grey: #e5e5e5;
    --gap: 20px;
}

body {
    margin: 0;
    width: 1920px;
}

.section {
    max-width: 1180px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    height: 60px;
    box-shadow: 0px 10px 5px #e5e5e5;
}

a {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo {
    font-weight: 700;
    font-size: 26px;
}

.menu-text {
    font-size: 22px;
    font-weight: 600;
    padding: 0 15px;
}

#hero {
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 537px;
    margin-bottom: 30px;
}

h1 {
    font-size: 56px;
    line-height: 59px;
    font-weight: 700;
    color: var(--color-black);
    width: calc((100%/12*6) + var(--gap)*5);
    padding-top: 140px;
}

h1 span {
    color: #0284C7;
}

.header-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #0C4A6E;
    width: calc((100%/12*6) + var(--gap)*5);
    padding-top: 30px;
}

.button {
    background-color: #0EA5E9;
    color: #F0F9FF;
    width: calc((100%/12*2.5) + var(--gap)*2);
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 15px;
    margin: 50px 0px;
    border: 1px solid #38bdf8;
    border-radius: 10px;
    box-shadow: 0 4px 4px #a3a3a3;
    cursor: pointer;
}

h3 {
    color: #0369A1;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0px;
}

.service-block {
    background-color: #0284C7;
    height: 285px;
}

.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 73px;
}
.triangle {
    width: 35px;
    height: 85px;
    cursor: pointer;
}

.service {
    width: calc((100% / 12 * 3) + var(--gap)*2);
    height: 183px;
    border-radius: 10px;
    box-shadow: 1px 5px 4px #525252;
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.s02 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url('../images/service-3.png');
}

.s03 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url('../images/service-2.png');
}

.s04 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url('../images/service-1.png');
}

.service-number {
    width: 36px;
    height: 36px;
    font-size: 24px;
    font-weight: 300;
    color: var(--color-light-blue);
    margin-bottom: 60px;
}

.service-arrow{
    display: flex;
    flex-direction: row;
}

.service-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-light-blue);
    width: calc((100% / 3 * 2) + var(--gap));
}

.arrow {
    width: 45px;
    color: var(--color-light-blue);
    margin-top: 20px;
    margin-left: 30px;
}

#background {
    background-image: url('../images/background-1.png');
    background-position: center;
    background-size: cover;
    height: 668px;
}

.description-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-total-black);
    text-align: justify;
    padding-bottom: 18px;
}

.description-button {
    display: flex;
    justify-content: end;
}

.review-section {
    margin-top: 80px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
}

.review {
    display: flex;
    flex-direction: row;
    width: calc((100% / 12 * 6) - var(--gap));
    height: 173px;
    border: 1px solid var(--color-light-grey);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    gap: var(--gap);
    margin-bottom: 40px;
    margin-top: 10px;   
}

.review-image {
    align-self: center;
}

.review-name {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 10px;
}

.review-text {
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

#address {
    background-image: linear-gradient(0deg, rgba(240, 249, 255, 0.8), rgba(240, 249, 255, 0.8)), url('../images/map-background.png');
    background-position: center;
    background-size: cover;
    height: 507px;
    margin-top: 100px;
}

.locations {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% / 12 * 4) - var(--gap));
    height: 297px;
    background-color: var(--color-white);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgba(115, 115, 115, 0.25);
    padding: 23px;
}

.location-address {
    display: flex;
    gap: var(--gap);
    align-items: flex-start;
}

.location-icon {
    
    height: 30px;
}

.location-text {
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.location-text span {
    font-weight: 600;
}

.location-phone {
    color: var(--color-dark-blue);
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    padding-left: 20px;
    padding-top: 20px;
}

footer {
    height: 403px;
    background-color: var(--color-light-blue);
    padding-top: 50px;
    padding-bottom: 70px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-detail {
    display: flex;
    justify-content: space-between;
}

.dento {
    width: calc(100% / 12 * 5);
    font-size: 18px;
    font-weight: 400;
    color: var(--color-dark-blue);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100% / 12 * 2);
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-blue);
}

.contacts {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-text span {
    font-weight: 700;
}

.contact-text {
    display: flex;
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.contact-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.license {
    color: var(--color-dark-blue);
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    text-align: right;
}