* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    --primary-color: #0284c7;
    --color-white: #fafafa;
    --color-black: #262626;
    --color-gray: #737373;
    --color-green: #26992A;
    --color-total-black: #171717;
    --color-light-blue: #F0F9FF;
    --color-dark-blue: #075985;
    --color-light-gray: #e5e5e5;
    --shadow: 0px 4px 4px #737373;
    --x-gap: 20px;
    --y-gap: 60px;
}

body {
    margin: 0;
}

.section {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--x-gap)/2);
}

.return-button {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: var(--primary-color);
    height: var(--y-gap);
    box-shadow: var(--shadow);
    position: sticky;
    top: 0px;
}

a {
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo {
    font-weight: 700;
    font-size: 26px;
}

.menu-text {
    font-size: 22px;
    font-weight: 600;
    padding: 0 15px;
}

#hero {
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: auto;
    margin-bottom: calc(var(--y-gap) / 2);
    padding-bottom: var(--y-gap);
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-black);
    width: calc((100% - var(--x-gap)) / 2);
    padding-top: 140px;
}

h1 span {
    color: var(--primary-color);
}

.header-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-dark-blue);
    width: calc((100% - var(--x-gap)) / 2);
    padding-top: 30px;
}

.button {
    background-color: #0EA5E9;
    color: var(--color-light-blue);
    width: calc((100% - var(--x-gap) * 11) / 12 * 2.5 + var(--x-gap) * 2);
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 15px;
    margin-top: var(--y-gap);
    border: 1px solid #38bdf8;
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

h2 {
    color: var(--color-dark-blue);
    font-size: 48px;
    font-weight: 700;
    padding-top: var(--y-gap);
}

h3 {
    color: var(--color-dark-blue);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: var(--y-gap) 0px;
}

.treatment-title {
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px 0px 50px 0px;
}

.treatment-text {
    font-size: 24px;
    color: var(--color-dark-blue);
    text-align: justify;
    margin-bottom: 20px;
    padding-top: 20px;
}

.treatment-image {
    width: calc((100% - var(--x-gap) * 11) / 12 * 5 + var(--x-gap) * 4);
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.prices {
    display: flex;
    flex-direction: column;
    gap: var(--x-gap);
    padding-bottom: var(--y-gap);
}

.price-text {
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 15px 15px 20px;
}

.blue {
    color: var(--color-dark-blue);
    background-color: var(--color-light-blue);
}

.blue span {
    color: var(--primary-color);
}

.green {
    color: var(--color-dark-blue);
    background-color: #E0F2FE;
}

.green span {
    color: var(--color-green);
}

.service-block {
    background-color: var(--primary-color);
    height: auto;
}

.service-section {
    display: flex;
    justify-content: space-between;
    padding: var(--y-gap) 0px;
}

.triangle {
    width: 35px;
    height: 85px;
    cursor: pointer;
    align-self: center;
}

.service {
    width: calc((100% - var(--x-gap) * 3) / 4);
    border-radius: 10px;
    box-shadow: 1px 5px 4px var(--color-total-black);
    padding: 15px 5px 15px 15px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.s02 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url('../images/service-3.png');
}

.s03 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url('../images/service-2.png');
}

.s04 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url('../images/service-1.png');
}

.service-number {
    width: 36px;
    height: 36px;
    font-size: 24px;
    font-weight: 300;
    color: var(--color-light-blue);
    margin-bottom: var(--y-gap);
    align-self: top left;
}

.service-arrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.service-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-light-blue);
    width: calc((100% / 3 * 2) + var(--x-gap));
}

.arrow {
    width: 45px;
    color: var(--color-light-blue);
    margin-top: 20px;
}

.white-section {
    height: calc(var(--y-gap) * 3);
}

footer {
    height: auto;
    background-color: var(--color-light-blue);
    padding: var(--y-gap) 0px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-detail {
    display: flex;
    justify-content: space-between;
}

.dento {
    width: calc(100% / 2);
    font-size: 18px;
    font-weight: 400;
    color: var(--color-dark-blue);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: calc(100% / 5);
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-blue);
}

.contacts {
    padding-top: var(--y-gap);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--x-gap);
}

.contact-text span {
    font-weight: 700;
}

.contact-text {
    display: flex;
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.contact-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.license {
    color: var(--color-dark-blue);
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    text-align: right;
    padding-top: var(--y-gap);
}

/*responsive design*/


@media (max-width: 768px) {
    html {
        --y-gap: 50px;
    }
    
    #logo {
        font-size: 90%;
    }

    .menu-text {
        font-size: 70%;
    }
    
    h1 {
        font-size: 40px;
    }

    .header-text {
        width: 100%;
    }

    .button {
        font-size: 75%;
        width: calc((100% - var(--x-gap)*2) / 3);
        padding: 8px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    .row { 
        flex-direction: column;
    }

    .treatment-text {
        font-size: 18px;
    }

    .price-text {
        font-size: 14px;
    }

    .service {
        width: calc(100% / 4);
    }

    .arrow {
        width: 35px;
    }

    .footer-detail {
        justify-content: space-evenly;
    }

    .dento {
        font-size: 16px;
    }

    .link {
        font-size: 16px;
        width: calc(100% / 3);
    }

    .contacts {
        flex-direction: column;
        padding-left: 10px;
    }

    .contact-text {
        font-size: 14px;
    }

    .license {
        font-size: 15px;
    }
}

@media (max-width: 600px) {

    html {
        --y-gap: 40px;
    }
    
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    .treatment-text {
        font-size: 16px;
    }

    .price-text {
        font-size: 12px;
    }

    .service-section {
        flex-direction: column;
        gap: var(--x-gap);
        padding: 0px;
        align-items: center;
    }

    .service {
        width: calc(100% / 12 * 10);
    }

    .service-text {
        font-size: 20px;
    }

    .triangle {
        transform: rotate(90deg);
    }
}